<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons+Round">
  <!-- title added dynamically -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=lkvRjB0M53">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=lkvRjB0M53">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=lkvRjB0M53">
  <link rel="manifest" href="/static/icons/site.webmanifest?v=lkvRjB0M53">
  <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=lkvRjB0M53" color="#fec201">
  <link rel="shortcut icon" href="/static/icons/favicon.ico?v=lkvRjB0M53">
  <meta name="msapplication-TileColor" content="#fec201">
  <meta name="msapplication-config" content="/static/icons/browserconfig.xml?v=lkvRjB0M53">
  <meta name="theme-color" content="#fec201">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js"></script>
  <script>
    // NOTE: Google Analytics related code removed
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
  </script>
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
  </script>
</head>

<body>
  <div id="lex-app"></div>
</body>

</html>